HTTP_ADDRESS=0.0.0.0
HTTP_PORT=8080
HTTP_IDLE_TIMEOUT=120
HTTP_READ_TIMEOUT=120
HTTP_WRITE_TIMEOUT=120

HANDLER_MAX_FILE_SIZE=10240

LOG_LEVEL=debug

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_DEFAULT_BUCKETS=mybucket

COUCHDB_USER=admin
COUCHDB_PASSWORD=password
COUCHDB_SECRET=mysecret
COUCHDB_NODENAME=couchdb@localhost

REDIS_PASSWORD=redispassword
REDIS_APPENDONLY=yes

OBJECT_STORAGE_MINIO_ENDPOINT="127.0.0.1:9000"
OBJECT_STORAGE_MINIO_ACCESSKEYID="minioadmin"
OBJECT_STORAGE_MINIO_SECRETACCESSKEY="minioadmin"
OBJECT_STORAGE_MINIO_USESSL=false


PERSISTENCE_COUCHDB_HOSTNAME="localhost"
PERSISTENCE_COUCHDB_PORT=5984
PERSISTENCE_COUCHDB_USERNAME="admin"
PERSISTENCE_COUCHDB_PASSWORD="password"
PERSISTENCE_COUCHDB_INSECURE=true
PERSISTENCE_COUCHDB_METADATA_DB_NAME="metadata"

KEY_CACHE_REDIS_ADDRESS="127.0.0.1:6379"
KEY_CACHE_REDIS_PASSWORD="redispassword"
KEY_CACHE_REDIS_DB=0
